* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.calculator {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.grid-calculator {
    background-color: rgba(0,0,0,0.16);
    display: grid;
    width: 450px;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: 100px repeat(5, 50px);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
    grid-template-areas: 
    'display display display display display display display'
    'mc . . clear allclear oneclear rvt'
    'ms . seven eight nine devide openbracket'
    'mr . four five six multiply closebracket'
    'mplus . one two three minus equal'
    'mminus . dot zero negative plus equal';
}

.grid-calculator input {
    padding: 10px;
    text-align: right;
    font-size: 50px;
}

.grid-calculator button {
    font-size: 15px;
}




